.left_abs {
  position: absolute;
  left: -200px;
  width:45%;
  z-index:-10;
  margin: 0 3px;
  font-size: 80%;
}


.left {
  text-align: left;
  float: left;
  width:45%;
  z-index:-10;
  margin: 0 3px;
  font-size: 80%;
}

.right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
  font-size: 80%;
}


div.h_slide {
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  font-size: 120%;
}

.footer {
  clear:both;
}

div.header {

}

div.citation {
  font-style: italic;
  font-size: small;
}

li.cur_list {
  font-weight: bold;
}

li.optional_list {
  color: #808080;
  font-style: italic;
}


div.left3 {
    float:left;
    width:30%;
    /*height:100%;*/
}

div.center3 {
    /*height:100%;*/
    width:30%;
    /*left:100%;*/
    float:left;
    margin: 0 20px;
}

.float_left {
  float:left;
}

.float_right {
  float:left;
}

div.right3 {
    /*position:absolute;*/
    /*right:0;*/
    /*top:5%;*/
    float:left;
    width:30%;
    /*height:100%;*/
}

.OutlineText {
    font: Tahoma, Geneva, sans-serif;
    color: white;
    /*text-transform: uppercase;*/
    text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000; /* Terminate with a semi-colon */
}
