div.left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:45%;
  z-index:-10;
  margin: 0 3px;
  font-size: 80%;
}

div.right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
  font-size: 80%;
}

.footer {
  clear:both;
}

div.header {
  float: center
  font-family: Verdana, Geneva, sans-serif
  font-size: 500%;
}

div.citation {
  font-style: italic;
  font-size: small;
}

li.cur_list {
  font-weight: bold;
}

li.optional_list {
  color: #808080;
  font-style: italic;
}


div.left3 {
    float:left;
    width:30%;
    /*height:100%;*/
}

div.center3 {
    /*height:100%;*/
    width:30%;
    /*left:100%;*/
    float:left;
    margin: 0 20px;
}

div.right3 {
    /*position:absolute;*/
    /*right:0;*/
    /*top:5%;*/
    float:left;
    width:30%;
    /*height:100%;*/
}
